<!DOCTYPE html>
<html>
  <head>
    <title>Sports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class ="navbar">
      <nav>
        <h1>Major League Baseball</h1>
        <ul>
          <li><%= link_to "Home", controller: "baseball", action: "homepage"%></li>
          <li><%= link_to "Teams", controller: "baseball", action: "teams"%></li>
          <li><%= link_to "Roster", controller: "baseball", action: "players"%></li>
        </ul>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
